.App {
  text-align: center;
}
.submit-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.my-btn {
  width: 100px;
  padding: 5px;
  background-color: hotpink;
  border: none;
  cursor: pointer;
}
.btn {
  background-color: black;
  color: white;
  padding: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
}
table {
  width: 100%;
}
th {
  background-color: hotpink;
}
tr:nth-child(odd) {
  background-color: lightpink;
}
.input-div{
  display: flex;
  gap: 10px
}
.header {
  background-color: pink;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.numbers{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.numbers button {
  padding: 10px;
  width: 100px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.calc-input {
  width: 50vw;
  padding: 10px;
}